<script>

     window.onload = () => {

        document.getElementById("btnEnglish").addEventListener("click", () => switchLanguage("en"));
        document.getElementById("btnFrench").addEventListener("click", () => switchLanguage("fr"));
    };

    function switchLanguage(lang) {
        document.querySelectorAll("[data-en]").forEach(element => {
            element.textContent = element.getAttribute(`data-${lang}`);
        });
    }
</script>


<div class="entete"> 
        <img src="../../static/img/imageEnteteLogo.png" alt="Logo" class="imageEntete">  
        <img src="../../static/img/logoNoir.png" alt="Logo" class="logoNoir" width="190" height="140" hidden>
 </div>  

 
    <nav class="navbar navbar-expand-sm" id="barreNavig">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button type="button" class="btn btn-rose" id="btn-admin" href="#" hidden></button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-rose" data-en="My account" data-fr="Mon compte" href="/"><b>Mon compte</b></button>
                    </li>
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-rose nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Costumes</b></button>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					            <li><a class="dropdown-item" data-en="All" data-fr="Tous" href="/catalogue"><b>Tous</b></a></li>
					            <li><a class="dropdown-item" data-en="Filter" data-fr="Filtre" href="/filtre"><b>Filtre</b></a></li>
                            </ul>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-dark nav-link" data-en="Logout" data-fr="Déconnexion" onclick="window.location.href='/logout'">Déconnexion</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


  <div style="text-align: center; margin-top: 20px;">
    <button id="btnEnglish" class="lang-button">English</button>
    <button id="btnFrench" class="lang-button">Français</button>
</div>




 <form action="/choixProf" method="post" id="preferenceCostume">
 <div class="grid-container">
    {{#each groupeCostume}}
        <div class="grid-item" data-costume-id="{{this.costume_id}}">
            <ul>
                <a href="/detailsCostume/{{this.costume_id}}">
                    <div class="image-container">
                        <img src="/static/img/{{this.image}}"  alt="{{this.titre}}" class="imageCatalogue">
                    </div>
                 </a>
                    <div class="image-options">
                        <img src="/static/img/plusBlanc.png" alt="plus" class="plusB">
                        <img src="/static/img/plusRose.png" alt="plus" class="plusR" hidden >
                        <img src="/static/img/coeurBlanc.png" alt="coeur" class="coeurB"> 
                        <img src="/static/img/coeurRosePlein.png" alt="coeur" class="coeurR" hidden> 
                    </div>

                    <div class="info-container">
                        <h4>{{this.titre}}</h4>
                            <span data-en="Quantity :" data-fr="Quantité :">Quantité : {{this.quantite_totale}}</span><br>
                            <span data-en="Location :" data-fr="Localisation :">Localisation : {{#if this.localisation}}{{this.localisation}}{{else}}N/A{{/if}}</span>
                    </div>
                    <div class="container-ajoutFavori" hidden>
                        <label for="groupes" data-en="Favorite costume for the group:" data-fr="Costume favori pour le groupe:" >Costume favori pour le groupe:</label>
                            <select name="groupes" class="select-group">
                                <option value="" data-en="Select" data-fr="Sélectionner">Sélectionner</option>
                                {{#each groupe}}
                                    <option value="{{groupe.nom}}"></option>
                                {{/each}}
                            </select>
                    </div>
            </ul>
        </div>
    {{/each}}
</div>
</form>


 <script>
    const user_id = {{{userId}}};
    const likedCostumeIds = {{{json likedCostumeIds}}};

   

    document.querySelectorAll('.grid-item').forEach(item => {
    
        const costume_id = Number(item.getAttribute('data-costume-id'));
        
        item.addEventListener('mouseenter', () => {
            item.querySelector('.info-container').style.display = 'block';
        });
        item.addEventListener('mouseleave', () => {
            item.querySelector('.info-container').style.display = 'none';
        });

        const plusBlanc = item.querySelector('.plusB');
        const plusRose = item.querySelector('.plusR');
        const ajoutFavori = item.querySelector(".container-ajoutFavori");
        
        plusBlanc.addEventListener('click', () => {
            plusBlanc.hidden = true;
            plusRose.hidden = false; 
            ajoutFavori.hidden = false;   
        });

        plusRose.addEventListener('click', () => {
            plusRose.hidden = true;
            plusBlanc.hidden = false;  
            ajoutFavori.hidden = true;    
        });

        const coeurBlanc = item.querySelector('.coeurB');
        const coeurRose = item.querySelector('.coeurR');
        
         // Vérifiez si le costume est aimé
        if (likedCostumeIds.includes(parseInt(costume_id))) {
            coeurBlanc.hidden = true;  
            coeurRose.hidden = false;   
        } else {
            coeurBlanc.hidden = false;  
            coeurRose.hidden = true;     
        }

        coeurBlanc.addEventListener('click', () => {
            coeurBlanc.hidden = true;
            coeurRose.hidden = false;    

            //Envoyer une requête AJAX pour ajouter le like
           

            fetch('/ajouterLike', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ user_id, costume_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                likedCostumeIds.push(costume_id);
                console.log("bob");
            })
            .catch((error) => {
                console.error('Erreur:', error);
            });
        });
        coeurRose.addEventListener('click', () => {
            coeurRose.hidden = true;
            coeurBlanc.hidden = false;     
       
        // envoyer une requête ajax pour enlever le like

            
            fetch('/enleverLike', {
                method: 'post',
                headers: {
                    'content-type': 'application/json',
                },
                body: JSON.stringify({ user_id, costume_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                likedCostumeIds = likedCostumeIds.filter(id => id !== costume_id);
                console.log("bob2");
            })
            .catch((error) => {
                console.error('erreur:', error);
            });
        });
    });

 </script>
