

{{> header}} 

 <form action="/choixProf" method="post" id="preferenceCostume">
 <div class="grid-container">
    {{#each groupeCostume}}
        <div class="grid-item" data-costume-id="{{this.costume_id}}">
            <ul>
                <a href="/detailsCostume/{{this.costume_id}}">
                    <div class="image-container">
                        <img src="/static/img/{{this.image}}"  alt="{{this.titre}}" class="imageCatalogue">
                    </div>
                 </a>
                    <div class="image-options">
                        <img src="/static/img/plusBlanc.png" alt="plus" class="plusB">
                        <img src="/static/img/plusRose.png" alt="plus" class="plusR" hidden >
                        <img src="/static/img/coeurBlanc.png" alt="coeur" class="coeurB"> 
                        <img src="/static/img/coeurRose.png" alt="coeur" class="coeurR" hidden> 
                    </div>

                    <div class="info-container">
                        <h4>{{this.titre}}</h4>
                            Quantité : {{this.quantite_totale}}<br>
                            Localisation : {{#if this.localisation}}{{this.localisation}}{{else}}N/A{{/if}}
                    </div>
                    <div class="container-ajoutFavori" hidden>
                        <label for="groupes">Choisir le groupe à mettre pour le favori</label>
                            <select name="groupes" class="select-group">
                                <option value="">Sélectionner</option>
                                {{#each groupe}}
                                    <option value="{{groupe.nom}}"></option>
                                {{/each}}
                            </select>
                    </div>
            </ul>
        </div>
    {{/each}}
</div>
</form>


 <script>
    const user_id = {{{userId}}};
    const likedCostumeIds = {{{json likedCostumeIds}}};

    document.querySelectorAll('.grid-item').forEach(item => {
    
        const costume_id = Number(item.getAttribute('data-costume-id'));
        
        item.addEventListener('mouseenter', () => {
            item.querySelector('.info-container').style.display = 'block';
        });
        item.addEventListener('mouseleave', () => {
            item.querySelector('.info-container').style.display = 'none';
        });

        const plusBlanc = item.querySelector('.plusB');
        const plusRose = item.querySelector('.plusR');
        const ajoutFavori = item.querySelector(".container-ajoutFavori");
        
        plusBlanc.addEventListener('click', () => {
            plusBlanc.hidden = true;
            plusRose.hidden = false; 
            ajoutFavori.hidden = false;   
        });

        plusRose.addEventListener('click', () => {
            plusRose.hidden = true;
            plusBlanc.hidden = false;  
            ajoutFavori.hidden = true;    
        });

        const coeurBlanc = item.querySelector('.coeurB');
        const coeurRose = item.querySelector('.coeurR');
        
         // Vérifiez si le costume est aimé
        if (likedCostumeIds.includes(parseInt(costume_id))) {
            coeurBlanc.hidden = true;  
            coeurRose.hidden = false;   
        } else {
            coeurBlanc.hidden = false;  
            coeurRose.hidden = true;     
        }

        coeurBlanc.addEventListener('click', () => {
            coeurBlanc.hidden = true;
            coeurRose.hidden = false;    

            //Envoyer une requête AJAX pour ajouter le like
           

            fetch('/ajouterLike', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ user_id, costume_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                likedCostumeIds.push(costume_id);
                console.log("bob");
            })
            .catch((error) => {
                console.error('Erreur:', error);
            });
        });
        coeurRose.addEventListener('click', () => {
            coeurRose.hidden = true;
            coeurBlanc.hidden = false;     
       
        // envoyer une requête ajax pour enlever le like

            
            fetch('/enleverLike', {
                method: 'post',
                headers: {
                    'content-type': 'application/json',
                },
                body: JSON.stringify({ user_id, costume_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                likedCostumeIds = likedCostumeIds.filter(id => id !== costume_id);
                console.log("bob2");
            })
            .catch((error) => {
                console.error('erreur:', error);
            });
        });
    });

 </script>