
    {{> headerAdEN}}

<form class="connexion-form" id="modifUser">

<h2>Users Management</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td>
                <a href="/modifier-user/{{this.user_id}}" class="btn btn_roseFonce">Modify</a>
                    <button type="button" class="btn btn_grisFonce" onclick="confirmSuppression(event, {{this.user_id}})">Remove</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- Modal -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" id="modalCloseUser">&times;</span>
                    <h2>Removal Confirmation</h2>
                    <p>Are you sure you want to permanently remove the user?</p>
                    <button id="confirmDeleteUser" class="btn btn_roseFonce">Yes, remove</button><br>
                    <button type="button" id="cancelDeleteUser" class="btn btn_grisFonce">No, cancel</button>
            </div>
         </div>

</form>

<script>
    let userIdToDelete;

function confirmSuppression(event, userId) {
    event.preventDefault();
    userIdToDelete = userId;
    const modal = document.getElementById("deleteModal");
    modal.style.display = "block"; 

    const confirmButton = document.getElementById("confirmDeleteUser");

    confirmButton.onclick = async function() {

        if (!userIdToDelete) {
            console.error("userIdToDelete est indéfini");
            return; 
        }

        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/supprimer-user/${userIdToDelete}`;
        document.body.appendChild(form);

        try {
            await fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            location.reload();
        } catch (error) {
            console.error("Erreur lors de la suppression :", error);
        }
    }

    const cancelButton = document.getElementById("cancelDeleteUser");
    cancelButton.onclick = function() {
        modal.style.display = "none"; 
    }

    const modalClose = document.getElementById("modalCloseUser");
    modalClose.onclick = function() {
        modal.style.display = "none"; 
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none"; 
        }
    }
}

</script>