{{> headerAd}}

<form action="/users"  method="POST" id="listeUsers">
    <h3>Liste des utilisateurs</h3>
        <div class="flex-container">
            <table class="liste">
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Groupes</th>
                    <th>Role</th>
                    <th>Langue</th>
                    <th><input type="checkbox" id="select_all" name="select_all">Sélectionner tout</th>
                </tr>
                {{#each users}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.groupe}}</td>
                        <td>{{this.role}}</td>
                        <td>{{this.langue}}</td>
                        <td><input type="checkbox" class="effacer" name="effacer" value="{{this.user_id}}"></td> {{!--mettre un bouton modifier et un supprimer --}}
                    </tr>    
                {{/each}}             
            </table>
        </div><br>

        <div class="button-corbeille">
            <button type="button" class="corbeille_container" onclick="confirmSuppression()"><img src="/static/img/corbeille.jpg" alt="corbeille" class="corbeille"> </button>
        </div>
         <!-- Modal -->
            <div id="deleteModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="modalClose">&times;</span>
                    <h2>Confirmation de Suppression</h2>
                    <p>Êtes-vous certain de vouloir supprimer cet(ces) utilisateur(s) définitivement?</p>
                    <button id="confirmDeleteFavorites" class="btn btn_roseFonce">Oui, supprimer</button><br>
                    <button type="button" id="cancelDeleteFavorites" class="btn btn_grisFonce">Non, annuler</button>
                </div>
            </div>
</form>

<script>

    document.getElementById('select_all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.effacer');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    function confirmSuppression() {
        const modal = document.getElementById("deleteModal");
        modal.style.display = "block"; 

        const confirmButton = document.getElementById("confirmDeleteFavorites");
        const cancelButton = document.getElementById("cancelDeleteFavorites");
        const modalClose = document.getElementById("modalClose");

        confirmButton.onclick = function() {
            const selectedFavorites = [];
            const checkboxes = document.querySelectorAll('.effacer:checked');
    
            checkboxes.forEach(checkbox => {
                selectedFavorites.push(checkbox.value);
            });
            if (selectedFavorites.length === 0) {
                alert("Aucun favori sélectionné pour suppression.");
                return;
            }
    
            fetch('/users', {
                method: 'DELETE', 
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ favoris: selectedFavorites }) 
            })
            .then(response => {
                if (response.ok) {
                    alert("Favori(s) supprimé(s) avec succès");
                    window.location.reload(); 
                } else {
                    alert("Erreur lors de la suppression des favoris!");
                }
            })
            .catch(error => {
                console.error("Erreur:", error);
                alert("Erreur lors de la suppression des favoris!");
            });
        }

        const resetSelection = function() {
            modal.style.display = "none";
            const selectAllCheckbox = document.getElementById('select_all');
            selectAllCheckbox.checked = false; 
            const checkboxes = document.querySelectorAll('.effacer:checked');
            checkboxes.forEach(checkbox => {
                checkbox.checked = false; 
            });
        };

        cancelButton.onclick = resetSelection;

        modalClose.onclick = resetSelection;

        window.onclick = function(event) {
            if (event.target == modal) {
                resetSelection();
            }
        }
    }

</script>
