{{> headerAd}}

<form action="/likes"  method="POST" id="listeLikes">
    <h3>Liste des ♥</h3>
        <div class="flex-container">
            <table class="liste">
                <tr>
                    <th>Costume</th>
                    <th>Professeur</th>
                    <th><input type="checkbox" id="select_all" name="select_all">Sélectionner tout</th>
                </tr>
                {{#if likes.length}} 
                    {{#each likes}}
                        <tr>
                            <td><a href="detailsCostume/{{this.costume_id}}" class="lienRose"><b>{{this.costume}}</b></a></td>
                            <td><b>{{this.professeur}}</b></td>
                            <td><input type="checkbox" class="effacer" name="effacer" value="{{this.like_id}}"></td>
                        </tr>    
                    {{/each}}
                 {{else}}
                    <tr>
                        <td colspan="3" style="text-align:center; background-color:white;"><b>Aucun ♥</b></td>
                    </tr>
                {{/if}}
            </table>
        </div><br>
        <div class="button-corbeille">
            <button type="button" class="corbeille_container" onclick="confirmSuppression()"><img src="/static/img/corbeille.jpg" alt="corbeille" class="corbeille"> </button>
        </div>
         <!-- Modal -->
            <div id="deleteModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="modalClose">&times;</span>
                    <h2>Confirmation de Suppression</h2>
                    <p>Êtes-vous certain de vouloir supprimer ce(s) ♥ définitivement?</p>
                    <button id="confirmDeleteLikes" class="btn btn_roseFonce">Oui, supprimer</button><br>
                    <button type="button" id="cancelDeleteLikes" class="btn btn_grisFonce">Non, annuler</button>
                </div>
            </div>
</form>

<script>

    document.getElementById('select_all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.effacer');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

function confirmSuppression() {
    const checkboxes = document.querySelectorAll('.effacer:checked');
    
    if (checkboxes.length === 0) {
        alert("Aucun ♥ sélectionné pour suppression.");
        return; 
    }

    const modal = document.getElementById("deleteModal");
    modal.style.display = "block"; 

    const confirmButton = document.getElementById("confirmDeleteLikes");
    const cancelButton = document.getElementById("cancelDeleteLikes");
    const modalClose = document.getElementById("modalClose");

    confirmButton.onclick = function() {
        const selectedLikes = [];
        checkboxes.forEach(checkbox => {
            selectedLikes.push(checkbox.value);
        });

        fetch('/likes', {
            method: 'DELETE', 
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ likes: selectedLikes }) 
        })
        .then(response => {
            if (response.ok) {
                alert("♥ supprimés avec succès !");
                window.location.reload(); 
            } else {
                alert("Erreur lors de la suppression des ♥ !");
            }
        })
        .catch(error => {
            console.error("Erreur:", error);
            alert("Erreur lors de la suppression des ♥ !");
        });
    }

    const resetSelection = function() {
        modal.style.display = "none";
        const selectAllCheckbox = document.getElementById('select_all');
        selectAllCheckbox.checked = false; 
        checkboxes.forEach(checkbox => {
            checkbox.checked = false; 
        });
    };

    cancelButton.onclick = resetSelection;
    modalClose.onclick = resetSelection;

    window.onclick = function(event) {
        if (event.target == modal) {
            resetSelection();
        }
    }
}


</script>
