{{> headerAdEN}}


<form action="/likes"  method="POST" id="listeLikes">
    <h3>List of ♥</h3>
        <div class="flex-container">
            <table id="tabLikes">
                <tr>
                    <th>Date</th>
                    <th>Costume</th>
                    <th>Professor</th>
                    <th><input type="checkbox" id="select_all" name="select_all">Select all</th>
                </tr>
                {{#if likes.length}} 
                    {{#each likes}}
                        <tr>
                            <td>date</td>
                            <td><a href="detailsCostume/{{this.costume_id}}" class="lienRose"><b>{{this.costume}}</b></a></td>
                            <td>{{this.professeur}}</td>
                            <td><input type="checkbox" class="effacer" name="effacer" value="{{this.like_id}}"></td>
                        </tr>    
                    {{/each}}
                 {{else}}
                    <tr>
                        <td colspan="4" style="text-align:center; background-color:white;"><b>No ♥</b></td>
                    </tr>
                {{/if}}
            </table>
        </div>
        <div class="button-corbeille">
            <button type="button" class="corbeille_container" onclick="confirmSuppression()">🗑️</button>
        </div>
         <!-- Modal -->
            <div id="deleteModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="modalClose">&times;</span>
                    <h2>Delete Confirmation</h2>
                    <p>Are you sure you want to permanently delete this ♥?</p>
                    <button id="confirmDeleteLikes" class="btn btn_roseFonce">Yes, delete</button><br>
                    <button type="button" id="cancelDeleteLikes" class="btn btn_grisFonce">No, cancel</button>
                </div>
            </div>
</form>

<script>

    document.getElementById('select_all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.effacer');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    function confirmSuppression() {
        const modal = document.getElementById("deleteModal");
        modal.style.display = "block"; // Affiche le modal

        const confirmButton = document.getElementById("confirmDeleteLikes");
        const cancelButton = document.getElementById("cancelDeleteLikes");
        const modalClose = document.getElementById("modalClose");

        confirmButton.onclick = function() {
            const selectedLikes = [];
            const checkboxes = document.querySelectorAll('.effacer:checked');
    
            checkboxes.forEach(checkbox => {
                selectedLikes.push(checkbox.value);
            });
            if (selectedLikes.length === 0) {
                alert("No ♥ selected for deletion.");
                return;
            }
    
            fetch('/likes', {
                method: 'DELETE', // Utiliser DELETE pour supprimer les likes
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ likes: selectedLikes }) // Envoyer la liste des likes sélectionnés
            })
            .then(response => {
                if (response.ok) {
                    alert("♥ deleted successfully!");
                    window.location.reload(); // Recharger la page
                } else {
                    alert("Error deleting ♥ !");
                }
            })
            .catch(error => {
                console.error("Erreur:", error);
                alert("Error deleting ♥ !");
            });
        }

        const resetSelection = function() {
            modal.style.display = "none";
            const selectAllCheckbox = document.getElementById('select_all');
            selectAllCheckbox.checked = false; // Déselectionne "Sélectionner tout"
            const checkboxes = document.querySelectorAll('.effacer:checked');
            checkboxes.forEach(checkbox => {
                checkbox.checked = false; 
            });
        };

        cancelButton.onclick = resetSelection;

        modalClose.onclick = resetSelection;

        window.onclick = function(event) {
            if (event.target == modal) {
                resetSelection();
            }
        }
    }

</script>
