{{#if (eq userRole "administrateur")}}
    {{> headerAd}}
{{else if (eq userRole "professeur")}}
    {{> header}}
{{/if}}

<form action="/modifier-user/{{userResult.user_id}}" method="POST" class="connexion-form">
    <h2>Modify username</h2>
    <div class="flex-container">
        <div class="flex-item">
            <label for="username"><b>Name :</b></label>
            <input type="text" id="username" name="username" value="{{userResult.username}}" required>
        </div>
        <div class="flex-item">
            <label for="email"><b>Email :</b></label>
            <input type="email" id="email" name="email" value="{{userResult.email}}" required>
        </div>
        <div class="flex-item">
            <label for="password"><b>New password :</b></label>
            <input type="password" id="password" name="password" placeholder="Laisser vide pour ne pas modifier">
        </div>
        <div class="flex-item full-width">
            <label for="groups"><b>Group(s) :</b></label>
            <div id="groupsContainer">
                {{#each group}}
                <div class="group-input">
                    <input type="text" name="groupName[]" value="{{this}}" required><br><br>
                    <button type="button" class="remove-group">-</button><br><br>
                </div>
                {{/each}}
            </div>
            <div class="button-container">
                            <button type="button" class="add-group">+</button>
                        </div>
        </div>
        <div class="flex-item full-width">
            <label for="role"><b>Role :</b></label>
            <div class="radio-group">
                <input type="radio" id="admin" name="role" value="administrateur" {{#if (eq userResult.role "administrateur")}}checked{{/if}} required><b>Administrator</b>
                <input type="radio" id="professeur" name="role" value="professeur" {{#if (eq userResult.role "professeur")}}checked{{/if}} required><b>Professor</b>
            </div>
        </div>
        <div class="flex-item full-width">
            <label for="language"><b>Language :</b></label>
            <div class="radio-group">
                <input type="radio" id="french" name="language" value="fr" {{#if (eq userResult.langue "fr")}}checked{{/if}} required><b>French</b>
                <input type="radio" id="english" name="language" value="en" {{#if (eq userResult.langue "en")}}checked{{/if}} required><b>English</b>
            </div>
        </div>
        <div class="flex-item full-width">
            <label for="secretQuestion"><b>Secret question :</b></label>
            <input type="text" id="secretQuestion" name="secretQuestion" value="{{userResult.secret_question}}" required>
        </div>
        <div class="flex-item full-width">
            <label for="secretAnswer"><b>Secret answer :</b></label>
            <input type="text" id="secretAnswer" name="secretAnswer" value="{{userResult.secret_answer}}" required>
        </div>
        <div class="flex-item full-width">
            <button type="submit" class="btn btn_roseFonce" id="boutonCompte">Save the modifications</button>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.add-group').addEventListener('click', function () {
            const container = document.getElementById('groupsContainer');
            const groupInput = document.createElement('div');
            groupInput.className = 'group-input';
            groupInput.innerHTML = `
                <input type="text" name="groupName[]" placeholder="Nouveau groupe" required>
                <button type="button" class="remove-group">-</button>
            `;
            container.appendChild(groupInput);
        });

        document.getElementById('groupsContainer').addEventListener('click', function (e) {
            if (e.target.classList.contains('remove-group')) {
                e.target.parentElement.remove();
            }
        });
    });

</script>