{{#if (eq userRole "administrateur")}}
    {{> headerAdEN}}
{{else if (eq userRole "professeur")}}
    {{> headerEN}}
{{/if}}

<div class="container">
    <div class="account-section">
        <div class="account-info">
            <h2>My account</h2><br>
            <p><b>Username:</b> {{user.username}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>My groups:</b></p>
            <ul>
                {{#each groups}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="password-form">
            <h2>Change password</h2>
            <form action="/modifier-mot-de-passe" method="POST">
                <label for="currentPassword"><b>Current password:</b></label>
                <input type="password" id="currentPassword" name="currentPassword" required>
                <label for="newPassword"><b>New password:</b></label>
                <input type="password" id="newPassword" name="newPassword" required>
                <label for="confirmPassword"><b>Confirm the new password:</b></label>
                <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
                <button type="submit" class="btn btn_roseFonce">Modify</button>
            </form>
        </div>
    </div>
    <div class="favorites-section">
        <h2>My favorites</h2>
        <ul>
            {{#each favorites}}
                <li>
                    <span><b>{{this.costume_name}}</b></span>
                    <span>{{this.group_name}}</span>
                    <div class="button-corbeille">
                        <button class="delete-favorite" data-favorite-id="{{this.favorite_id}}">
                            <img src="/static/img/corbeille.jpg" alt="corbeille" class="corbeille">
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="likes-section">
        <h2>My </h2>
        <div>
            <img src="/static/img/coeurRosePlein.png" alt="coeur" class="coeurRose"> 
        </div>
        <ul>
            {{#each likes}}
                <li>
                    <span><b>{{this.costume_name}}</b></span>
                    <div class="button-corbeille">
                        <button class="delete-like" data-like-id="{{this.like_id}}">
                            <img src="/static/img/corbeille.jpg" alt="corbeille" class="corbeille">
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="my-suggestions-section">
        <h2>My suggestions</h2>
        <ul>
            {{#each suggestions}}
                <li>{{this.suggestion_text}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="suggestions-section">
        <h2>Suggestions</h2>
        <form action="/envoyer-suggestion" method="POST">
            <textarea name="suggestion" rows="5" placeholder="Write your suggestions here..." required></textarea>
            <button type="submit" class="btn btn_roseFonce">Send</button>
        </form>
    </div>
</div>


<script>
    document.querySelectorAll('.delete-favorite').forEach(button => {
        button.addEventListener('click', function() {
            event.stopPropagation(); // Prévenir la propagation de l'événement
            const favoriteId = this.getAttribute('data-favorite-id');
            fetch(`/supprimer-favori/${favoriteId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.closest('li').remove(); // Supprimer l'élément li parent
                } else {
                    alert('Erreur lors de la suppression du favori');
                }
            })
            .catch(error => console.error('Erreur:', error));
        });
    });

    document.querySelectorAll('.delete-like').forEach(button => {
        button.addEventListener('click', function() {
            event.stopPropagation(); // Prévenir la propagation de l'événement
            const likeId = this.getAttribute('data-like-id');
            fetch(`/supprimer-like/${likeId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.closest('li').remove(); // Supprimer l'élément li parent
                } else {
                    alert('Erreur lors de la suppression du like');
                }
            })
            .catch(error => console.error('Erreur:', error));
        });
    });
</script>
